html, body {
    margin: 0;
    padding: 0;
    background-color: #4A4A4A;
    overflow: hidden; /* esto quita la barra de scroll */
    height: 100vh;     /* asegura altura igual a la ventana */
    width: 100vw;      /* asegura ancho igual a la ventana */
}

.container {
    width: 100%;
    max-width: 1440px;
    height: 699px;
    background-color: #4A4A4A;
    overflow: hidden;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.backgroundwhite {
    position: fixed;
    width: 100%;
    top: 0;
}


.backgroundwhite-bottom {
    position: fixed; /* o absolute, según lo que necesites */
    width: 100%;
    bottom: 0;
}